<?xml version="1.0"?>
<!-- Copyright (C) 2024 Miguel Ángel González Santamarta

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<launch>
  <!-- Include the base launch file with YOLOv5 specific parameters -->
  <include file="$(find yolo_bringup)/launch/yolo.launch">
    <arg name="model" value="yolov5mu.pt"/>
    <arg name="tracker" value="bytetrack.yaml"/>
    <arg name="device" value="cuda:0"/>
    <arg name="enable" value="true"/>
    <arg name="threshold" value="0.5"/>
    <arg name="input_image_topic" value="/camera/rgb/image_raw"/>
    <arg name="image_reliability" value="2"/>
    <arg name="namespace" value="yolo"/>
  </include>
</launch>